#content{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.wide {
  width: 100%;
}

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding: 40px 20px;
  width: 90%;
  max-width: 600px;
  position: relative;
  text-align: center;
  background-color: #f2f2f2;
}

.post {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding: 40px 20px;
  width: 90%;
  max-width: 1600px;
  position: relative;
  text-align: center;
  background-color: #f2f2f2;
}

.tt img {
  max-width: 800px;
}

/* Style form elements from w3 schools*/
input[type=text], input[type=password],select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #cc6600;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#navSearch {
  display: inline-block;
  padding: .375rem .75rem;
  background-color: #cc6600;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#navSearch:hover, input[type=submit]:hover {
  background-color: #b35900;
}

